[submodule "third_party/wpt"]
	path = third_party/wpt
	url = https://github.com/web-platform-tests/wpt.git
	branch = master
	shallow = true
# Reuse the cached clone across worktrees instead of recloning WPT each time.
	alternateLocation = superproject
	alternateErrorStrategy = die
